 <!--Sección Proyectos-->
 <div class="proyectos" id="proyectos">
    <h2>Proyectos</h2> 
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card-proyecto">
            <img src="../assets/IMG/capturaportfolio.png" class="card-img-top" alt="foto portfolio">
            <div class="card-body">
              <h5 class="card-title">Mi Portfolio Web</h5>
              <p class="card-text">Este es mi portfolio web donde pueden ver todos mis proyectos y datos acerca de mi.</p>
              <a href="#" class="btn btn-primary">Toca acá para ver</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-proyecto">
            <img src="../assets/IMG/simuladorcoder1.png" class="card-img-top" alt="simulador de compra">
            <div class="card-body">
              <h5 class="card-title">Simulador de compra</h5>
              <p class="card-text">Este es un primer trabajo con JavaScript, es un simulador de eleccion de porducto y compra aplicando cuotas.</p>
              <a href="#" class="btn btn-primary">Tocá aca para ver</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-proyecto">
            <img src="../assets/IMG/ecomerce.png" class="card-img-top" alt="Ecomerce1">
            <div class="card-body">
              <h5 class="card-title">Ecomerce</h5>
              <p class="card-text">Fue un trabajo para el curso de JavaScript de CoderHouse. Logueo, seleccion de productos, agregar carrito, costo total de lo seleccionado. etc.</p>
              <a href="#" class="btn btn-primary">Tocá para ver</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-proyecto">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      
