 <!--Seccion Educación-->
 <div id="Educacion" class="Educacion">
  <br>
  <br>
    <h2>Educación</h2>
    <br>
  </div>

  <div class="container text-center">
    <div class="row row-cols-1 row-cols-md-2 g-4">
     <div class="col">
<div class="mi-educacion">
<div class="card mb-3" style="max-width: 540px;">
 <div class="row g-0" id="tarjeta-educacion">
   <div class="col-md-4">
     <img src="../assets/IMG/arg-programaLogo.png" class="img-fluid rounded-start" alt="argenitna programa logo">
   </div>
   <div class="col-md-8">
     <div class="card-body">
       <h5 class="empleo">Desarrolladora Full Stack Jr.</h5>
       <p class="descripcion-educacion">FrontEnd, BackEnd, Base de datos</p>
       <p class="institucion-educacion">Argentina Programa</p> 
       <p class="fecha-educacion">Febrero 2022-actualidad</p> 
       <button type="button" class="btn btn-light"><a href="#" class="mi-nueva-capacitacion">Agregar Educación</a></button>
     </div>
   </div>
 </div>
</div>
</div>
</div>
<div class="col">
<div class="mi-educacion">
<div class="card mb-3" style="max-width: 540px;">
 <div class="row g-0" id="tarjeta-educacion">
   <div class="col-md-4">
     <img src="../assets/IMG/coderhouselogo.png" class="img-fluid rounded-start" alt="argenitna programa logo">
   </div>
   <div class="col-md-8">
     <div class="card-body">
       <h5 class="empleo">JavaScript</h5>
       <p class="descripcion-educacion">Curso del lenguaje JavaScript. Dónde desarrolle mi pequeño Ecomerce</p>
       <p class="institucion-educacion">CoderHouse</p> 
       <p class="fecha-educacion">sept-Nov2022</p> 
       <button type="button" class="btn btn-light"><a href="#" class="mi-nueva-capacitacion">Agregar Educación</a></button>
     </div>
   </div>
 </div>
</div>
</div>

</div>
<div class="col">
<div class="mi-educacion">
<div class="card mb-3" style="max-width: 540px;">
 <div class="row g-0" id="tarjeta-educacion">
   <div class="col-md-4">
     <img src="../assets/IMG/logolinkedin.png" class="img-fluid rounded-start" alt="argenitna programa logo">
   </div>
   <div class="col-md-8">
     <div class="card-body">
       <h5 class="empleo">Aprende SCRUM</h5>
       <p class="descripcion-educacion">Metodología Ágil de Gestión de proyectos roles, herramientas, implementación.</p>
       <p class="institucion-educacion">LinkedIn</p> 
       <p class="fecha-educacion">Junio 2022</p> 
       <a href="https://www.linkedin.com/learning/certificates/2bd3e2c25632c2defc31258c923e07b5d41473ac5add71d8399752454ff7c79f">Credencial</a>
       <button type="button" class="btn btn-light"><a href="#" class="mi-nueva-capacitacion">Agregar Educación</a></button>
     </div>
   </div>
 </div>
</div>
</div>

</div>
<div class="col">
<div class="mi-educacion">
<div class="card mb-3" style="max-width: 540px;">
 <div class="row g-0" id="tarjeta-educacion">
   <div class="col-md-4">
     <img src="../assets/IMG/googleactivatelogo1.png" class="img-fluid rounded-start" alt="argenitna programa logo">
   </div>
   <div class="col-md-8">
     <div class="card-body">
       <h5 class="empleo">Desarrollo de Apps Móviles</h5>
       <p class="descripcion-educacion">Diseño y creación de apps, plataformas de desarrollo, comercialización y análisis de usuarios</p>
       <p class="institucion-educacion">Google Actívate</p> 
       <p class="fecha-educacion">febrero 2022</p> 
       <a href="https://learndigital.withgoogle.com/activate/validate-certificate-code"> credencialID MMY EJ6 F5M</a>
       <button type="button" class="btn btn-light"><a href="#" class="mi-nueva-capacitacion">Agregar Educación</a></button>
     </div>
   </div>
 </div>
</div>
</div>

</div>
<div class="col">
<div class="mi-educacion">
<div class="card mb-3" style="max-width: 540px;">
 <div class="row g-0" id="tarjeta-educacion">
   <div class="col-md-4">
     <img src="../assets/IMG/googleactivatelogo1.png" class="img-fluid rounded-start" alt="argenitna programa logo">
   </div>
   <div class="col-md-8">
     <div class="card-body">
       <h5 class="empleo">Protege tu negocio: Ciberseguridad en el Teletrabajo</h5>
       <p class="descripcion-educacion">Teletrabajo seguro para el empleador y el empleado, fraudes y otros incidentes.</p>
       <p class="institucion-educacion">Google Actívate</p> 
       <p class="fecha-educacion">febrero 2022</p> 
       <a href="https://learndigital.withgoogle.com/link/1nur091p2ww"> credencialID BIO 5Y8 M6S</a>
       <button type="button" class="btn btn-light"><a href="#" class="mi-nueva-capacitacion">Agregar Educación</a></button>
     </div>
   </div>
 </div>
</div>
</div>

</div>
</div>

