  <!--Sección Experiencia-->
  <div id="experiencia"  class="experiencia">
    <h2>Experiencia Laboral</h2>
    <br>
     </div>
<div class="container text-center">
     <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
                <div class="mi-experiencia">
                 <div class="card mb-3" >
                  <div class="row g-0" id="tarjeta-experiencia">
                    <div class="col-md-4">
                      <img src="../assets/IMG/gcba.png" class="img-fluid rounded-start" alt="Escudo GCBA">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="empleo">Docente</h5>
                        <p class="descripcion-empleo">Administrativa, atención Secretaría Escolar, Técnica Aux. Bibliotecaria.Clases de Educación Fisica y talleres de danza</p>
                        <p class="institucion-empleo">GCBA Ministerio de Educación</p> 
                        <p class="tipo-empleo">Jornada completa</p> 
                        <p class="fecha-empleo">Octubre 2012-actualidad</p> 
                        <button type="button" class="btn btn-light"><a href="#" class="experiencia-laboral">Agregar Experiencia</a></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
       </div>
       <div class="col">
              <div class="mi-experiencia">
                <div class="card mb-3" >
                 <div class="row g-0" id="tarjeta-experiencia">
                   <div class="col-md-4">
                     <img src="../assets/IMG/megatlonlogo.jpg" class="img-fluid rounded-start" alt="Escudo GCBA">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body">
                       <h5 class="empleo">Profesora y Entrenadora</h5>
                       <p class="descripcion-empleo">Personal Trainer, Sala de musculación, taller abdominales, localizada, gap, natación, pilates reformer, etc...</p>
                       <p class="institucion-empleo">Megatlón</p> 
                       <p class="tipo-empleo">Jornada completa</p> 
                       <p class="fecha-empleo">Mayo2005-Nov2012</p> 
                       <button type="button" class="btn btn-light"><a href="#" class="experiencia-laboral">Agregar Experiencia</a></button>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
    </div>
     </div>