<!--Seccion Banner-->
<div class="presentacion" id="primer-tarjeta">
    <div id="perfil-fondo"><img src="../assets/IMG/fondobanner.jpg"></div>
    
        <div id="info-img">
          <img class="imagen-perfil" src="../assets/IMG/mifoto.jpg">
        </div>
        <div class="yo">
        <h2>Soy</h2>
        <h1>Lorena&nbsp; Susana&nbsp; Vivas</h1>
          <h3>Desarrolladora Full Stack Jr.</h3>
        </div>

        


        <div class="info-datos">
           
    
    <div class="segunda-tarjeta">
      <ul class="navegacion">
        <li><button type="button" class="btn btn-dark"><a href="#sobre-mi" class="nav-link">Acerca de Mí</a></button></li>
        <li><button type="button" class="btn btn-dark"><a href="#experiencia" class="nav-link">Experiencia</a></button></li>
        <li><button type="button" class="btn btn-dark"><a href="#Educacion" class="nav-link">Educación</a></button></li>
        <li><button type="button" class="btn btn-dark"><a href="#habilidades" class="nav-link">Habilidades</a></button></li>
        <li><button type="button" class="btn btn-dark"><a href="#proyectos" class="nav-link">Proyectos</a></button></li>
      </ul>
     </div>
</div>