 <!--Barras de Progreso-->
 <div id="habilidades"  class="habilidades">
  <h2>Hard & Soft Skills</h2>
  <br>
   </div>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="70"
    [showImage]="true"
    [imageSrc]="'../assets/IMG/html.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>  
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [showImage]="true"
    [imageSrc]="'../assets/IMG/css.png'"
    [imageHeight]="50"
    [imageWidth]="75"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'dodgerblue'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>  
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="70"
    [showImage]="true"
    [imageSrc]="'../assets/IMG/javascript.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'yellow'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>  
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="70"
    [showImage]="true"
    [imageSrc]="'../assets/IMG/github.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>  
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [showImage]="true"
    [imageSrc]="'../assets/IMG/angular.png'"
    [imageHeight]="60"
    [imageWidth]="75"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'red'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>  
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [showImage]="true"
    [imageSrc]="'../assets/IMG/bootstrap.png'"
    [imageHeight]="60"
    [imageWidth]="75"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'indigo'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>  
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="70"
    [showImage]="true"
    [imageSrc]="'../assets/IMG/empatia.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'magenta'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>  
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [showImage]="true"
    [imageSrc]="'../assets/IMG/resolucionconflict.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'greenYellow'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>  
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="70"
    [showImage]="true"
    [imageSrc]="'../assets/IMG/trabajoenequipo.png'"
    [imageHeight]="60"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'salmon'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>  
</div>
</div>
