  <!--Sobre mi-->
  <div id="sobre-mi" class="Sobre-mi">
    <br>
    <h2>Acerca de mí</h2>
    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    <div class="row">
      <div class="container text-center">
     
    <h6>
      Soy y una persona trabajadora y versátil, siendo capaz de adaptarme a cualquier ambiente,
      siempre dispuesta a aprender nuevas habilidades.
     Hace dos años empecé a sentirme interesada en el ámbito IT,
     comencé a capacitarme en principio de forma autodidacta pero actualmente, 
     estoy en la etapa final en Argentina Programa Yo Programo
     donde obtendría el Título de  Desarrollador Full Stack Jr. 
     También estoy haciendo cursos en CoderHouse, ya complete el de JavaScript y creé mi 
     Pequeño Ecomerce. Mi idea es hacer en Coder la carrera de Desarrollo de Aplicaciones.
     Antes de esto mis trabajos fueron y son muy distintos… Soy Docente y Técnica Bibliotecaria,
     Por tanto mis experiencias laborales anteriores son en Gimnasios, Escuelas, Bibliotecas, 
     Colonias de Verano, animaciones de Fiestas. 
     Poseo habilidades para el trabajo en equipo, soy una persona curiosa, me gusta aprender
     cosas nuevas, cambiar mi rumbo lo sentía un desafío y acá estoy tratando de dar todo de mi.
     Soy amable, servicial y educada.
     Estoy ansiosa por adquirir nuevos conocimientos que contribuyan a mi crecimiento personal 
     y profesional.
     
    </h6>
    <br>
  </div>
  </div>
</div>
