  <!--Sobre mi-->
  <div id="sobre-mi" class="Sobre-mi">
    <br>
    <h2>Acerca de</h2>
    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>

 <div>
    <h6>
      Soy y una persona trabajadora y versátil, siendo capaz de adaptarme a cualquier ambiente,
siempre dispuesta a aprender nuevas habilidades.
Soy Docente y Técnica Bibliotecaria, y hace dos años empecé a sentirme interesada en
el ámbito IT.
Comencé a capacitarme en principio de forma autodidacta pero actualmente, además
estoy cursando Argentina Programa Desarrollador Full Stack Jr. Y cursos en coderHouse.
Soy muy amable, servicial y educada.
Dispuesta a adquirir nuevos conocimientos que contribuyan a mi crecimiento personal
y profesional.
En estos momentos estoy en la búsqueda de un puesto dentro del sector IT donde
poder desplegar mis habilidades blandas, así como las técnicas adquiridas hasta el momento
y poder seguir enriqueciendo mi conocimiento como desarrolladora.
    </h6>
    <br>
  </div>
</div>
