body {
   margin: 16px;;
   padding: 3;
   padding-left: 2rem;
   padding-right: 2rem;
   font-family: sans-serif;
   color:azure;
 }
 .navbar {
  background: rgb(202, 77, 192);
  background: linear-gradient(90deg, rgba(222,86,210,1) 14%, rgba(213,129,197,1) 35%, rgba(241,160,226,0.20818749863226538) 64%);
}


    i.fa-brands.fa-instagram.fa-3x:hover{
    color: blueviolet;
    }

    i.fa-brands.fa-linkedin.fa-3x:hover{
        color:aqua;
    }
    i.fa-brands.fa-github.fa-3x:hover{
        color:rgb(216, 133, 24);
    }
    i.fa-solid.fa-user-lock.fa-3x:hover{
        color:rgb(29, 29, 63);
    }

    .list-group-item{
      --bs-list-group-bg: transparent;
     --bs-list-group-border-width: none;
     }

 
 #primer-tarjeta {
    border-radius: 32px;
    margin:10 px 10px;
    padding: 20px;
    border-color:rgb(0, 132, 255);
}

.yo {
  text-align: center;
  margin-top: -300px;
}
h6{
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}

.presentacion.tarjeta#primera{
  padding: 0;   
}
div#fondo-perfil{
    display: flex;
    z-index:1;
}


div#perfil-fondo img {
width:100%;
height: 800px;
border-radius: 32px 32px 32px 32px;
}


.imagen-perfil {
    border-radius: 80%;
    width: 250px;
    height: 250px;
    margin-top: -850px;
    margin-left: 500px;
}

#tarjeta-experiencia {
  background: linear-gradient(90deg, rgb(196, 185, 194) 14%, rgb(221, 154, 208) 35%, rgba(241,160,226,0.20818749863226538) 64%);
}

#tarjeta-educacion {
  background: linear-gradient(90deg, rgb(145, 196, 205) 35%, rgba(241,160,226,0.20818749863226538) 64%);
}

.Habilidades {
    padding: 2rem; 
    }

.icono {
padding-bottom: 1rem;
}

.card-proyecto {
  background-color: rgb(167, 150, 173);
  border: 1rem;
  box-shadow: -2px -2px 5px 2px #000; 
}

.navegacion{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-cor);
    box-shadow: 0 3px 5px rgba(63, 207, 34, 0.1);
    font-style:normal;
    color:rgb(34, 5, 73);
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    list-style:none;
}
  
  .navegacion-ul {
    display: flex;
    gap: 1.9rem;
     }
